ExampleProject/GenerationRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="GenerationRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Ticket">
		
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="36"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				
				<xs:element name="DocumentType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="5"/>
							<xs:maxLength value="150"/>
							<xs:enumeration value="Factuur"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				
				<xs:element name="Payload">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Naam" type="xs:string" />
							<xs:element name="Bedrag" type="xs:decimal" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>